*.gem
*.rbc
.bundle
.config
.rvmrc
.yardoc
coverage
doc/
Gemfile.lock
gemfiles/*.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
_yardoc
.rspec
.ruby-gemset
.ruby-version
